.bg_signup {
  width: 100%;
  height: 512px;
  background-image: url(/assets/bg-signup.png);
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
}

.bg_filter {
  background: linear-gradient(to right, #20dc49, #0f993e);
  opacity: 0.75;
  width: 100%;
  height: 512px;
  border-radius: 1.5rem;
}

.right_bg {
  background-image: url(/assets/right-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0.5rem 0.5rem 0;
}
/* Full-width input fields */
.input_type_text {
  width: 100%;
  padding: 15px;
  margin: 0.5rem 0;
  display: inline-block;
  border: none;
  background: #fff;
  border-radius: 8px;
}

.input_type_password {
  width: 100%;
  border-radius: 8px;
  padding: 14px;
  display: inline-block;
  border: none;
}

.input_type_text:focus,
.input_type_password:focus {
  background-color: #fff;
  outline: none;
}

.hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  border-radius: 8px 0 0 8px;
}

.signupbtn {
  border-radius: 0 8px 8px 0;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.divider {
  margin: 1rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 1px;
  background-color: #dbdbdb;
  margin: 1rem;
}

/* glass bg effect  */
.glass-card {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(1rem);
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
