.transparent_bg_img {
  color: #ffffff;
  background-image: url("/assets/transparent.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px;
  border-radius: 20px;
  background-blend-mode: screen;
}
