@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --gray: rgb(253, 251, 252);; */
  --gray: rgb(34, 48, 64);
  --blue: rgb(0, 122, 253);
  --green: rgb(6, 215, 108);
  --white: rgb(253, 251, 252);
  /* --white: rgb(34, 48, 64); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 14px;
}

.tooltip {
  background-color: black;
  border-radius: 8px;
  color: white;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -120%);
  transition: all 0.1s ease;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.line_tooltip {
  background-color: white;
  border-radius: 8px;
  color: white;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -120%);
  transition: all 0.1s ease;
}

.line_tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.donut {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  border-radius: 100%;
  border: 16px solid rgba(40, 199, 111, 0.5);
  border-left: 16px solid rgba(40, 199, 111, 1);
  border-bottom: 16px solid rgba(40, 199, 111, 0.25);
  transform: rotate(30deg);
}

.table {
  width: 100%;
}
.th {
  width: 100%;
  color: #878790;
  font-size: 0.5rem;
  font-weight: 700;
}
.th,
.td {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.75rem;
}

/* date picker calender customization  */
.datepicker-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 8px;
  border-radius: 6px;
}

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Style the tab */
.tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tab_button {
  font-size: 1rem;
  font-weight: 700;
  width: 50%;
  border-bottom: 1px solid #d6d8e3;
  padding: 0.75rem 1rem;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab_button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.active {
  border-bottom: 3px solid #20dc49;
  color: #20dc49;
}

/* Style the tab content */
.tabcontent {
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f993e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* banner and blocks popup banner background image  */
.banner_bg {
  background-image: url("/assets/unsplash_image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* customer screen background  */
.bg-customer-screen {
  background-image: url("/assets/bg-customer.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* Fading animation */
.slide {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* nullifying default behaviour of input number  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

/* nullifying the behaviour of input range and custome the style */
input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /* border-radius: 4px; */
  /*  overflow: hidden;  remove this line*/

  /* New additions */
  height: 4px;
  background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 12px;
  width: 12px;
  background-color: #f00;
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f00; emove this line */
  transition: 0.2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background-color: #f00;
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f00; emove this line */
  transition: 0.2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.1);
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255, 0, 0, 0.2);
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255, 0, 0, 0.2);
}

/* Hover, active & focus Thumb: Firfox */

/* input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
} */

.range {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  height: 4rem;
  width: 1000%;
  background: #fff;
  padding: 10px 4px;
}

.textEditor {
  height: 250px;
  border-radius: 10px;
}
.textEditor:nth-child(2),
.textEditor:nth-child(3) {
  height: 285px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

.dropdown-right {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content-right {
  padding: 0 0 0 1rem;
  display: none;
  position: absolute;
  top: 0;
  left: 148px;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  border-bottom: 2px solid white;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: red;
  border-bottom: 2px solid red;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-right:hover .dropdown-content-right {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* accordion  */
.accordion {
  cursor: pointer;
  width: 100%;
  padding: 1rem 0;
  transition: 0.4s;
  background-color: #cecece;
  font-weight: 700;
  font-size: 1rem;
}

/* .accordion-active,
.accordion:hover {
  background-color: #ccc;
} */

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
