@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 14px;
}

.tooltip {
  background-color: black;
  border-radius: 8px;
  color: white;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -120%);
  transition: all 0.1s ease;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.donut {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  border-radius: 100%;
  border: 16px solid rgba(40, 199, 111, 0.5);
  border-left: 16px solid rgba(40, 199, 111, 1);
  border-bottom: 16px solid rgba(40, 199, 111, 0.25);
  transform: rotate(30deg);
}

.table {
  width: 100%;
}
.th {
  color: #878790;
  font-size: 0.5rem;
  font-weight: 700;
}
.th,
.td {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.75rem;
}

/* date picker calender customization  */
.datepicker-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 8px;
  border-radius: 6px;
}

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Style the tab */
.tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tab_button {
  font-size: 1rem;
  font-weight: 700;
  width: 50%;
  border-bottom: 1px solid #d6d8e3;
  padding: 0.75rem 1rem;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab_button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.active {
  border-bottom: 3px solid #20dc49;
  color: #20dc49;
}

/* Style the tab content */
.tabcontent {
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}