.bg_sidemenu {
  background-color: #daffdf;
}

.max_w_sidemenu {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.logo_hsbc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
