.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 6px 6px 6px 0px;
}

.icon_menus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: #595959;
}

.icon_menus .bar {
  content: "";
  width: 4px;
  height: 32px;
  background-color: transparent;
}

.menu_container:hover {
  background-color: #39de5d;
  color: #fff;
}

.menu_container:hover span {
  color: #fff;
}

.menu_container:hover .icon_menus .bar {
  background-color: #fff;
}

.menu_container:hover path {
  fill: #fff;
}

.active_icon path {
  fill: #fff;
}